# Mac filesystem hidden files
.DS_Store
._*
.Rhistory
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installation / distribution stuff
*.egg-info/
build/
dist/

# Docs for now
captus_docs/