# Mac filesystem hidden files
.DS_Store
._*
.Rhistory
.vscode/
TODO.md

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installation / distribution stuff
*.egg-info/
build/
dist/
captus.zip

# Docs for now
docs/.hugo_build.lock
docs/assets/jsconfig.json
docs/public
docs/resources/_gen/
docs/themes
docs/server
