include *.py
include LICENSE.txt
recursive-include captus *.ipynb
recursive-include data *.FAA
recursive-include data *.FNA
recursive-include data *.fasta
recursive-include data *.gz
recursive-include dependencies *.pdf
recursive-include dependencies *.pl
recursive-include dependencies blat*
recursive-include docs *.md
recursive-include extras *.py
prune captus.egg-info
